.password_change_container {
    margin: 0 auto;
    width: 690.3px;
}

@media screen and (max-width: 767px) {
    .password_change_container {
        width: 90%;
        margin: 0 auto;
    }
}

.password_change_field {
    width: 400.2px;
}

.password_change_field_error {
    width: 400.2px;
}