{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link href="{% static 'myapp/css/settings/mailaddress_change_done.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header-title %}
<h4>メールアドレス変更が完了しました。</h4>
{% endblock %}

{% block content %}
<div class="mailaddress_change_done">
    <div class="container">
        <div class="container-link">
            <ul class="container-link-ul">
                <li><a href="{% url 'friends' %}" class="link">ホームに戻る</a></li>
                <li><a href="{% url 'setting' %}" class="link">設定に戻る</a></li>
                <li>
                    <form method="post" name="form1" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                        <a class="link logout" href="javascript:form1.submit()">ログアウト</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}