{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link href="{% static 'myapp/css/settings/password_change.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header-title %}
<h3>パスワード変更</h3>
{% endblock %}

{% block content %}
<!-- 3つの特別なクラス -->
<div class="password_change">
    <div class="password_change_container container">
        <div class="container-form">
            <form class="form" method="POST" action="{% url 'password_change' %}">
                {% csrf_token %}
                <!-- {{ form.non_field_errors }} -->
                {% for field in form %}
                <div class="password_change_field field">
                    <!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label> -->
                    <div>{{ field.label }}</div>
                    <div>{{ field }}</div>
                </div>
                {% for error in field.errors %}
                <p class="password_change_field_error field_error">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                <div><button type="submit" class="btn">変更</button></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}