.friends {
    width: 100vw;
    margin: auto 0;
}

.friend-ul-link {
    text-decoration: none;
    color: #000;
}

.friend-ul-link-li {
    width: calc(100% - 32px);
    height: 4rem;
    padding: 8px 16px;
    border-bottom: solid 1px #000;
    position: relative;
}


.friend-ul-link-li-usericon {
    border: solid 1px #000;
    position: absolute;

    height: calc(4rem - 16px);
    width: calc(4rem - 16px);
    float: left;
    object-fit: cover;
    z-index: -1;
}

.friend-ul-link-li-username {
    width: calc(100% - 4rem - 8px);
    margin: 0 0 0 auto;
}

.friend-ul-link-li-talk {
    color: #000;
    margin: 1rem 0 1rem auto;
    width: calc(100% - 4rem - 8px);
    display: flex;
    justify-content: space-between;
}

.friends_search {}