{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link href="{% static 'myapp/css/.css' %}" type="text/css" rel="stylesheet" /> -->
{% endblock %}

{% block header-title %}<h3>パスワードリセット</h3>{% endblock %}

{% block content %}
<div class="password_reset">
    <div class="container">
        <div>
            <p>新しいパスワードを設定してください</p>
        </div>
        <h1>{% if token_fail %}不正トークン{% endif %}</h1>

        {% if token_fail %}
        {% url 'account_reset_password' as password_reset_url %}
        <p>このパスワードリセット用リンクは無効になっています。<a href="{{ password_reset_url }}">パスワードリセット再申請</a></p>
        {% else %}
        {% if form %}
        <div class="container-form">
            <form class="form" method="post" action="{{ action_url }}" enctype="multipart/form-data">
                <!-- enctypeはファイルを扱うため -->
                {% csrf_token %}
                {{ form.as_p }}
                <div><button class="btn" type="submit">送信</button></div>
            </form>
        </div>
        {% else %}
        <p>このパスワードは変更されています</p>
        {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}