{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<!-- <link href="{% static 'myapp/css/.css' %}" type="text/css" rel="stylesheet" /> -->
{% endblock %}

{% block header-title %}<h3>パスワードリセット</h3>{% endblock %}

{% block content %}
<div class="password_reset">
    <div class="container">
        <div>
            <p>パスワードリセットが変更されました</p>
        </div>
        <a class="link" href="{% url 'account_login' %}">戻る</a>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}