{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/base.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン</title>
</head>

<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container-title">
                {% block header-title %}{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-item">
                <a href="{% url 'friends' %}" class="footer-container-item-link">
                    <span class="footer-container-item-link-icon"><img
                            src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-container-item-link-text">友達</span>
                </a>
            </div>
            <div class="footer-container-item">
                <a href="{% url 'setting' %}" class="footer-container-item-link">
                    <span class="footer-container-item-link-icon"><img
                            src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-container-item-link-text">設定</span>
                </a>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>

</html>