{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link href="{% static 'myapp/css/friends.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header-title %}
<h3>友達一覧</h3>
{% endblock %}

{% block content %}
<div class="friends">
    <div class="container">
        <ul class="friends-ul">
            {% for friend, talk, time in message_list %}
            <a class="friend-ul-link" href="{% url 'talk_room' friend.id %}">
                <li class="friend-ul-link-li">
                    <img class="friend-ul-link-li-usericon" src="{{ friend.icon.url }}">
                    <div class="friend-ul-link-li-username">{{ friend.username }}</div>
                    {% if talk %}
                    <div class="friend-ul-link-li-talk">
                        <p class="friend-ul-link-li-talk-content">{{ talk }}</p>
                        <p class="friend-ul-link-li-talk-time">{{ time|date:"n/j H:i" }}</p>
                    </div>
                    {% endif %}
                </li>
                <!-- <div class="friend-list__item">
                    <div class="friend-list-item-icon friend-list-item">
                        <h4>写真：</h4><img class="friend-list__usericon" src="{{ friend.icon.url }}">
                    </div>
                    <div class="friend-list-item-username friend-list-item">
                        <h4>名前：</h4>
                        <div class="friend-list__username"> {{ friend.username }}</div>
                    </div>
                    {% if talk %}
                    <div class="friend-list-item-latest friend-list-item">
                        <h4>最近の会話</h4>
                        <div class="friend-list__talk">
                            <p class="friend-list__content"> {{ talk }}</p>
                            <p class="friend-list__time"> {{ time|date:"n/j H:i" }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div> -->
            </a>
            {% empty %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block footer_extra %}
<div class="footer_extra">
    <form class="friends_search" method="get" action="{% url 'friends' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="query" value="{{ request.GET.query }}" type="text" />
        <button type="submit">検索する</button>
    </form>
</div>
{% endblock %}