{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link href="{% static 'myapp/css/index.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header-title %}<h3>チャットアプリ</h3>{% endblock %}

{% block content %}
<div class="index">
    <div class="container">
        <div class="container-link">
            <a class="link" href="{% url 'login' %}">ログイン</a>
        </div>
        <div class="container-link">
            <a class="link" href="{% url 'signup' %}">会員登録</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}