{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link href="{% static 'myapp/css/talk_room.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header-title %}
<h3>{{ friend.username }}</h3>
{% endblock %}

{% block content %}
<div class="talk_room">
    <div class="container">
        <ul class="container-ul">
            {% for talk in message_list %}
            <li>
                <div>{{ talk.talk_from }}のメッセージ</div>
                <div>{{ talk.talk }}</div>
                <div class="talk_time">{{ talk.time|date:"m/d" }}<br>{{ talk.time|date:"H:i" }}</div>
            </li>
            {% endfor %}
        </ul>
        <form method="POST">
            {% csrf_token %}
            {{ form.talk }}
            <button class="btn" type="submit">送信</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- 機能を載せるために不可避だったので、ここだけコピペで実装してください -->
<script>
    // トークの表示を新しいものを下にしているため、最下にスクロールさせる
    document.addEventListener("DOMContentLoaded", function () {
        const chatboard = document.getElementById("chatboard");
        window.scroll(0, chatboard.scrollHeight);
    });
</script>
{% endblock %}